# ============================================================
#  WhatsApp Cloud API (Meta) - completar cuando lo conectes
# ============================================================
# Token de verificacion que vos inventas y pones tambien en el panel de Meta
WHATSAPP_VERIFY_TOKEN=mi_token_secreto_bot_soluciones

# Token de acceso permanente / temporal de la app de Meta
WHATSAPP_ACCESS_TOKEN=EAAM9BXipjAcBRzZClS0Njh1wDOxKaKbj85NbqkXbUBA3AFkQSfM7uyeB35c5IkWR6j7sxJnt6WZATsqrvkhIJQ6v6QjBSTNnCow9ZAEw3hNgLfa3lvzg78RK0ZCXHA8Lo7m0j4kdQatTTzmuEKUDeoBMbJYFqKOazKepIn90y78U69iPhJpWaTy7fqnEzkeE3gZDZD

# ID del numero de telefono (Phone Number ID) de la WhatsApp Cloud API
#Identificador del número de teléfono:
WHATSAPP_PHONE_NUMBER_ID=1223904834129047

#Identificador de la cuenta de WhatsApp Business SE USA PARA FUNCIONES MAS AVANZADAS
WHATSAPP_ACCOUNT_ID=

# Version del Graph API
WHATSAPP_GRAPH_VERSION=v21.0

# ============================================================
#  OpenAI - EN STAND-BY (dejar AI_ENABLED=false por ahora)
# ============================================================
# Cuando quieras activar la IA, pone AI_ENABLED=true y cargá la API key.
AI_ENABLED=false
OPENAI_API_KEY=
# Modelo a usar (se puede cambiar mas adelante sin tocar codigo)
OPENAI_MODEL=gpt-4o-mini
